@page "/createdino"
@using PrehistoricRealism.Data.Services
@using PrehistoricRealism.Data
@inject DinoServices objDinoServices
@inject NavigationManager NavigationManager

<h3>AddDino</h3>
<form >
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@dino.Name" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Diet" class="control-label">Name</label>
                <select @bind="dino.Diet" class="form-control">
                    <option value="--Select--">--Select--</option>
                    <option value="@DinosaurInfo.Food.Herbivore">--Herbivore--</option>
                    <option value="@DinosaurInfo.Food.Carnivore">--Carnivore--</option>
                    <option value="@DinosaurInfo.Food.Omnivore">--Omnivore--</option>
                </select>
                <span class="text-danger"></span>

            </div>
            <div class="form-group">
                <label for="NeedToKnow" class="control-label">Need To Know</label>
                <textarea form="NeedToKnow" class="form-control" @bind="@dino.NeedToKnow" ></textarea>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Behavior" class="control-label">Behavior</label>
                <textarea form="Behavior" class="form-control" @bind="@dino.Behavior" ></textarea>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="SocialInteraction" class="control-label">Social Interaction</label>
                <textarea form="SocialInteraction" class="form-control" @bind="@dino.SocialInteraction" ></textarea>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="PackLimits" class="control-label">Pack Limits</label>
                <input form="PackLimits" class="form-control" @bind="@dino.PackLimits" />
                
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Image" class="control-label">Image URL String</label>
                <input form="Image" class="form-control" @bind="@dino.Image" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Additionalinfo" class="control-label">Bonus Information</label>
                <textarea form="Additionalinfo" class="form-control" @bind="@dino.Additionalinfo" ></textarea>
                <span class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="CreateDinosaur" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
        DinosaurInfo dino = new DinosaurInfo();

 
    private async void CreateDinosaur()
    {
        await objDinoServices.CreateDinosaur(dino);
        NavigationManager.NavigateTo("/");
    }
    private void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
