@page "/carnivores"
@using PrehistoricRealism.Data.Services
@using PrehistoricRealism.Data
@inject DinoServices objDinoService
@OnInitializedAsync();


<h3>Carnivores</h3>
<NavLink class="nav-link" href="">
    <span class="oi oi-plus" aria-hidden="true"></span> Add New
</NavLink>
<h1>Carnivore information</h1>
@if (objDinoService == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Diet</th>
                <th>Pack Limits</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dino in dinoObj)
            {
                <tr>
                    <td>@dino.Name</td>
                    <td>@dino.Diet</td>
                    <td>@dino.PackLimits</td>
                    <td>@dino.Image</td>
                    <td>
                        <a class="nav-link" href="EditCarnivore/@dino.ID">
                            <span class="oi oi-pencil" aria-hidden="true"> </span> Edit
                        </a>
                        <a class="nav-link" href="DeleteCarnivore/@dino.ID">
                            <span class="oi oi-trash" aria-hidden="true"> </span> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    IEnumerable<DinosaurInfo> dinoObj;

    protected async Task OnInitializedAsync()
    {
        dinoObj = await objDinoService.GetCarnis();
    }
}
