@page "/EditDino/{CurrentId}"
@using PrehistoricRealism.Data.Services
@using PrehistoricRealism.Data
@inject DinoServices objDinoServices
@inject NavigationManager NavigationManager

@if (dino == null)
{
    <p><em>Loading...</em></p>

}
else
{
    <h3>Update Dinosaur (ID: @dino.ID)</h3>
    <form>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                     
                    <div class="form-group">
                    </div>
                    <label for="Name" class="control-label">Name</label>
                    <input form="Name" class="form-control" @bind="@dino.Name" />
                </div>
                <div class="form-group">
                    <label for="Diet" class="control-label">Diet</label>
                    <select @bind="dino.Diet"  class="form-control">
                        <option value="@DinosaurInfo.Food.Herbivore">--Herbivore--</option>
                        <option value="@DinosaurInfo.Food.Carnivore">--Carnivore--</option>
                        <option value="@DinosaurInfo.Food.Omnivore">--Omnivore--</option>
                    </select>

                </div>
                <div class="form-group">
                    <label for="NeedToKnow" class="control-label">Need To Know</label>
                    <textarea form="NeedToKnow" class="form-control" @bind="@dino.NeedToKnow" ></textarea>
                </div>
                <div class="form-group">
                    <label for="Behavior" class="control-label">Behavior</label>
                    <textarea form="Behavior" class="form-control" @bind="@dino.Behavior" ></textarea>
                </div>
                <div class="form-group">
                    <label for="SocialInteraction" class="control-label">Social Interaction</label>
                    <textarea form="SocialInteraction" class="form-control" @bind="@dino.SocialInteraction" ></textarea>
                </div>
                <div class="form-group">
                    <label for="PackLimits" class="control-label">Pack Limits</label>
                    <input form="PackLimits" class="form-control" @bind="@dino.PackLimits" />
                </div>
                <div class="form-group">
                    <label for="Image" class="control-label">Image URL String</label>
                   
                    <input form="Image" class="form-control" @bind="@dino.Image" />
                </div>
                <div class="form-group">
                    <img class="img-fluid" src="@dino.Image" alt="@dino.Name" />
                </div>
                <div class="form-group">
                    <label for="Additionalinfo" class="control-label">Bonus Information</label>
                    <textarea form="Additionalinfo" class="form-control" @bind="@dino.Additionalinfo" ></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" class="btn btn-primary" @onclick="UpdateDinosaur" value="Save" />
                    <input type="button" class="btn btn-primary" @onclick="Cancel" value="Cancel" />
                </div>
            </div>
        </div>
    </form>
}


@code {
    [Parameter]
    public string CurrentId { get; set; }
    DinosaurInfo dino;

    protected override async Task OnInitializedAsync()
    {
        dino = await objDinoServices.GetDinosaur(Convert.ToInt32(CurrentId));
    }
    private async void UpdateDinosaur()
    {
        await objDinoServices.UpdateDinosaur(dino.ID, dino);
           if(
            dino.Diet == DinosaurInfo.Food.Herbivore)
        {

            NavigationManager.NavigateTo("/herbivores");
        }else if(  dino.Diet == DinosaurInfo.Food.Carnivore)
        {
            NavigationManager.NavigateTo("/carnivores");
        }
    }
    private void Cancel()
    {
        if(
            dino.Diet == DinosaurInfo.Food.Herbivore)
        {

            NavigationManager.NavigateTo("/herbivores");
        }else if(  dino.Diet == DinosaurInfo.Food.Carnivore)
        {
            NavigationManager.NavigateTo("/carnivores");
        }
    }
}